{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">
    
    <div class="info-grid">
      <div id="desc1">{{ .description1 }}</div>
      <div id="desc2">{{ .description2 }}</div>
      <div id="cfp">
        <a href="https://convoca.dev/abracadata-2025/cfp" target="_blank">
          <h3>CFP</h3>
          <img src="/images/sphere.svg">
        </a>
      </div>
      <div id="sponsors">
        <a href="/files/AbracaData-2025-Prospectus.pdf" target="_blank">
          <h3>Team</h3>
          <img src="/images/wand.png">
        </a>
      </div>
      <div id="register">
        <a href="{{ .cta_link }}"> 
          <img src="/images/conjure-access.png" class="d-none d-xl-block" style="width: 100%; filter: drop-shadow(0px 0px 0px #eceaff);">
          <button type="button" class="btn btn-rounded button-hero mt-2 d-xl-none">Conjure your access</button>
        </a>
      </div>
      <div id="team">
        <a href="/team">
          <h3>Team</h3>
          <img src="/images/hat.svg">
        </a>
      </div>
      <div id="other">
        <a href="/about">
          <h3>About</h3>
          <img src="/images/broom.svg">
        </a>
      </div>
    </div>    
  </div>
</section>
{{ end }}