{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">
    <div class="info-grid">
      <br>
      <div id="desc1">Welcome to the space for learning, collaboration, and innovation. Connect with like-minded experts, gain valuable insights, and shape the future of AI-powered solutions.  </div>
      <div id="desc2">{{ .description2 }}</div>
      <div id="cfp">
        <a href="#">
          <h3>Lives (to come)</h3>
          <img src="/images/sphere.svg">
        </a>
      </div>
      <div id="sponsors">
        <a href="/summit-2025">
          <h3>Summit  </h3>
          <img src="/images/wand.png">
        </a>
      </div>
      <div id="register">
        <a href="#"> 
          <img src="/images/receive-new-spells.png" class="d-none d-xl-block" style="width: 100%; filter: drop-shadow(0px 0px 0px #eceaff);">
          <button type="button" class="btn btn-rounded button-hero mt-2 d-xl-none">Receive new spells</button>
        </a>
      </div>
      <div id="team">
        <a href="/blog">
          <h3>BLOG</h3>
          <img src="/images/hat.svg">
        </a>
      </div>
      <div id="other">
        <a href="/about">
          <h3>About</h3>
          <img src="/images/broom.svg">
        </a>
      </div>
    </div>    
  </div>
</section>
{{ end }}