{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">
    <h2 class="text-center event-info-title">{{ .title }}</h2>
    <div class="info-grid">
      <div id="desc1">{{ .description1 }}</div>
      <div id="desc2">{{ .description2 }}</div>
      <div id="register">
        <a href="{{ .cta_link }}"> 
          <img src="/images/conjure-access.png">
        </a>
      </div>
      <div id="cfp">
        <a href="https://convoca.dev/abracadata-2025/cfp">
          <h3>CFP</h3>
          <img src="/images/sphere.svg">
        </a>
      </div>
      <div id="sponsors">
        <h3>Sponsors</h3>
        <img src="/images/wand.png">
      </div>
      <div id="team">
        <a href="/team">
          <h3>Team</h3>
          <img src="/images/hat.svg">
        </a>
      </div>
      <div id="other">
        <a href="/sg-events">
          <h3>Other</h3>
          <img src="/images/broom.svg">
        </a>
      </div>
    </div>    
  </div>
</section>
{{ end }}