


<section class="hero-section-summit" style="margin-top: -100px;">
    <div class="hero-grid-summit">
      <div class="hero-logo">
        <img src="/images/abracadata-logo.png" class="img-fluid">
      </div>
      <div class="text-center mt-4">
        <h2 class="hero-tagline-summit">Be part of the magic that brings AI to life</h2>
        <p class="hero-info">11-12 June, 2025. Online & Free.</p>
      </div>
      <div class="hero-cta">
        <a href="/join">
          <button type="button" class="btn btn-rounded button-hero mt-2" >Join the Circle of Wizards</button>
        </a>
      </div>
    </div>
</section>