
<section class="hero-section">
    <div class="hero-grid">
      <div class="hero-logo">
        <img src="/images/abracadata-logo.png" class="img-fluid">
      </div>
      <div class="text-center">
        <h2 class="hero-tagline">Be part of the magic that brings AI to life</h2>
        <p class="hero-info">11-12 June, 2025. Online & Free.</p>
      </div>
      <div class="hero-cta">
        <a href="https://convoca.dev/abracadata-2025/cfp">
          <button type="button" class="btn btn-rounded button-hero mt-2" >Cast your spell. Submit your talk now!</button>
        </a>
      </div>  
    </div>
</section>