<section id="partners" class="section partners">
  <div class="container">
    <hr class="section-divider" />
    <h2 class="text-center">Enchanters & Allies</h2>

    {{ $category_exists := 0 }}
    <div class="sponsor-strip collaborators">
      {{range where .Site.RegularPages "Section" "partners" }}
        <div class="sponsor-item">
          <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
            <img src="{{ with .Params.images }}{{ index . 0 }}{{ end }}" alt="{{ .Title }}" alt="{{.Title}}">
          </a>
        </div>
      {{ end }}
    </div>  
    <hr class="section-divider" />
  </div>
</section>