

section.event-info {
  background-color: $white;  
}

.event-info-title {
  margin-bottom: 1.5em;
}

.info-grid {

  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  #desc1 { grid-area: 1 / 1 / 2 / 3; }
  #cfp { grid-area: 3 / 1 / 3 / 2; }
  #sponsors { grid-area: 3 / 2 / 3 / 3; }
  #desc2 { grid-area: 2 / 1 / 3 / 3; }
  #team { grid-area: 4 / 1 / 5 / 2; }
  #other { grid-area: 4 / 2 / 5 / 3; }
  #register { grid-area: 5 / 1 / 6 / 3; }

  @media (min-width: 1200px) {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 300px 1fr 1fr;
    #desc1 { grid-area: 1 / 1 / 2 / 3; }
    #team { grid-area: 2 / 1 / 3 / 2; }
    #cfp { grid-area: 1 / 4 / 2 / 5; }
    #register { grid-area: 1 / 3 / 3 / 4; }
    #sponsors { grid-area: 1 / 5 / 2 / 6; }
    #other { grid-area: 2 / 2 / 3 / 3; }
    #desc2 { grid-area: 2 / 4 / 3 / 6; }
  }
}

.info-grid div {
  border: solid 2px $primary-color;
  border-radius: 20px;
  padding: 1em 2em;
  text-align: center;
  &:hover {
    background-color: $gray-light;
  }

  img {
    width:100%;
  }
}
  

#desc1, #desc2 {
  align-content: center;
}

#register {
  align-content: center;
  border: 0px;
  padding: 0px;
}


.button-hero-blue{
    background-color: $primary-color;
    color: white;
    font-size: 1.3rem;

    &:hover{
      background-color: $secondary-color;
      color: $primary-color;
    }

  }
