
.feature-box{
	padding: 40px;
	background: #f8f9fa;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	i{
		font-size: 60px;
	}

	.divider{
		width: 45px;
		margin-bottom: 20px;
		background: $secondary-color;
	}

	&:hover{
		background: $secondary-color;
		i{
			color: $white;
		}
		h4{
			color: $white;
		}
		p{
			color: rgba(255,255,255,.8);
		}

		.divider{
			background: $border-color;
		}
	}

	&.active{
		background: $secondary-color;
		i{
			color: $white;
		}
		h4{
			color: $white;
		}
		p{
			color: rgba(255,255,255,.8);
		}

		.divider{
			background: $border-color;
		}
	}


}

.pl-90{
	padding-left: 150px;
}


.bg-red{
	background: #f87c57;
}

.feature-item{
	padding: 40px;
	background: #f8f9fa;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	i{
		font-size: 60px;
		color: $white;
	}
	h4{
		color: $white;
	}
	p{
		color: rgba(255,255,255,.7);
	}

}



@include mobile{
	.pl-90 {
	    padding-left:0px;
	}
}


@include mobile-xs{
	.pl-90 {
	    padding-left:0px;
	}
}


@include tablet{

	.pl-90 {
	    padding-left:0px;
	}
}


.featured-speakers{
	background: rgba(255,224,1,1);
	background: linear-gradient(180deg, rgba(255,224,1,1) 5%, rgba(255,143,140,1) 100%);
}


.title-featured, .subtitle-featured{
	color: white;
}


//Speakers cards

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 400px;
  perspective: 1000px;
  @media (max-width: 1264px) {
	width: 210px;
	height: 360px;
  }
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 250px;
  height: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @media (max-width: 1264px) {
	width: 210px;
	height: 340px;
  }
}

.flip-card-back {
  color: white;
  margin: auto;
  display: block;
  transform: rotateY(180deg);
}


.flip-card-front {
	background: no-repeat url(/images/card.png);
	width: 250px;
	height: 400px;

  }

.speaker-description-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speaker-description-card p{
  font-size: 0.7em;
  color: black;
}