.hero-section-summit{
  background: rgb(28,88,219);
  background: no-repeat url(/images/hero-background.jpg);
  background-size: cover;
  height: 70vh;
  padding-top: 10vh;
}

.hero-section{
background: #FFE001;
background: linear-gradient(0deg, rgba(255, 224, 1, 1) 16%, rgba(248, 181, 44, 1) 51%);
  background-size: cover;
  height: 90vh;
  padding-top: 5vh;
}

.hero-logo{
  width: 300px;
  @media (min-width: 796px) {
    width: 500px;
  }
  @media (min-width: 1320px) {
    width: 650px;
  }
}

.hero-tagline {
  color: $primary-color;
  margin-bottom: 1em;  
}

.hero-tagline-summit {
  color: $orange;
  margin-bottom: 1em;  
}

.hero-grid-summit{
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 48% 20% 25%;
  grid-column-gap: 0px;
  justify-items: center;
  align-items: center;
  background-image: url(/images/hero-stars.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.hero-grid{
  display: grid;
  height: 90vh;
  margin-top: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 48% 20% 25%;
  grid-column-gap: 0px;
  justify-items: center;
  align-items: center;
}


.hero-info{
  color: $white;
  font-size: 1.7rem;
}


.button-hero{
  background-color: $primary-color !important;
  color: $orange;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1.3rem;
  border: solid 1px $white;

  &:hover{
    color: white;
    background-color: $blue !important;
    border: solid 1px $white;
  }
}